<% if @flights.nil? %>
    <%= render 'flight_form' %>
<% else %>
    <h1>Flights for  <%= @flights.first.time.to_date %></h1>
    <table>
        <tr>
            <th colspan="2">Flight</th>
            <th>Departing</th>
            <th>Arriving</th>
        </tr>
    <% @flights.each do |flight| %>
        <tr>
            <td><%= flight.name %></td>
            <td></td>
            <td><%= flight.time.to_s(:time) %></td> 
            <td><%= (flight.time + flight.duration).to_s(:time) %></td>
        </tr>
    <% end %>
    </table>

<% end %>